<ion-view view-title="Body Fitness">
    <ion-content>
        <div class="list">
            <div class="item item-icon-left item-icon-right">
                <i class="icon ion-stats-bars"></i>
                Checkup Records
                <i class="icon ion-ios-arrow-right"></i>
            </div>
            <div class="item item-icon-left item-icon-right">
                <i class="icon ion-ios-speedometer-outline"></i>
                Weight Watch
                <i class="icon ion-ios-arrow-right"></i>
            </div>
            <div class="item item-icon-left item-icon-right">
                <i class="icon ion-android-walk"></i>
                Activity Monitor
                <i class="icon ion-ios-arrow-right"></i>
            </div>
            <div class="item item-icon-left item-icon-right">
                <i class="icon ion-android-bicycle"></i>
                Exercise Log
                <i class="icon ion-ios-arrow-right"></i>
            </div>
    </ion-content>
</ion-view>