<ion-view title="Health Records" hide-back-button="true">
    <ion-content>
        <div class="list">
            <div class="item item-avatar">
                <img src="img/mike.png">
                <p><h2>Clark Stinson</h2> Age 32</p>
                <p>Google Corp.</p>
                <p>Last Checked 10 Jan. 2016</p>
            </div>
            <div class="item item-icon-right item-icon-left" ng-click="toggleShowSymbolDesc()">
                <i class="icon ion-ios-information-outline"></i>
                Learn about the symbols
                <i class="icon ion-ios-arrow-right" ng-if="!showSymbolDesc"></i>
                <i class="icon ion-ios-arrow-down" ng-if="showSymbolDesc"></i>
            </div>
            <div class="list list-inset" ng-hide="!showSymbolDesc">
                <div class="item item-text-wrap item-icon-left">
                    <i class="icon ion-arrow-graph-up-right" style="color: red;"></i>
                    the values are trending up in a concerning way.
                </div>
                <div class="item item-text-wrap item-icon-left">
                    <i class="icon ion-arrow-graph-up-right" style="color: green;"></i>
                    the values are trending up in a good way.
                </div>
                <div class="item item-text-wrap item-icon-left">
                    <i class="icon ion-minus" style="color: green;"></i>
                    the values remain relatively stable or in a reference range.
                </div>
                <div class="item item-text-wrap item-icon-left">
                    <i class="icon ion-arrow-graph-down-right" style="color: red;"></i>
                    the values are trending down in a concerning way.
                </div>
                <div class="item item-text-wrap item-icon-left">
                    <i class="icon ion-arrow-graph-down-right" style="color: green;"></i>
                    the values are trending down in a good way.
                </div>
                <div class="item item-text-wrap item-icon-left">
                    <i class="icon ion-arrow-up-b" style="color: red;"></i>
                    a single value is higher than the reference range.
                </div>
                <div class="item item-text-wrap item-icon-left">
                    <i class="icon ion-arrow-down-b" style="color: dodgerblue;"></i>
                    a single value is lower than the reference range.
                </div>
            </div>
            <div class="item item-divider">
                Body Shape
            </div>
            <a href="#/tabs/health/body/weight" class="item item-icon-right">
                Weight
                <span class="item-note" style="color: green;">
                    76.7kg
                </span>
                <i class="icon ion-arrow-graph-up-right" style="color: red;"></i>
            </a>
            <a href="#/" class="item item-icon-right">
                Height
                <span class="item-note" style="color: green;">175cm
                </span>
                <i class="icon ion-minus" style="color: green;"></i>
            </a>
            <a href="#/" class="item item-icon-right">
                BMI
                <span class="item-note" style="color: red;">
                    <strong>25</strong>
                </span>
                <i class="icon ion-arrow-up-b" style="color: red;"></i>
            </a>
            <div class="item item-divider">
                Cardio
            </div>
            <a href="#/" class="item item-icon-right">
                Blood Pressure
                <span class="item-note" style="color: dodgerblue;">
                    <strong>90/75</strong>
                    <i class="icon ion-arrow-down-b"></i>
                </span>
            </a>
            <a href="#/" class="item item-icon-right">
                Heart Rate
                <span class="item-note" style="color: red;">
                    <strong>87</strong>
                </span>
                <i class="icon ion-arrow-up-b" style="color: red;"></i>
            </a>
            <div class="item item-divider">
                Blood Tests
            </div>
            <a href="#/" class="item item-icon-right">
                Blood Sugar
                <span class="item-note" style="color: green;"><strong>103</strong></span>
                <i class="icon ion-minus" style="color: green;"></i>
            </a>
            <a href="#/" class="item item-icon-right">
                Triglyceride
                <span class="item-note" style="color: red;"><strong>213</strong></span>
                <i class="icon ion-arrow-graph-up-right" style="color: red;"></i>
            </a>
            <a href="#/" class="item item-icon-right">
                HDL
                <span class="item-note" style="color: red;"><strong>34</strong></span>
                <i class="icon ion-arrow-graph-down-right" style="color: red;"></i>
            </a>
            <a href="#/" class="item item-icon-right">
                LDL
                <span class="item-note" style="color: red;"><strong>183</strong></span>
                <i class="icon ion-arrow-up-b" style="color: red;"></i>
            </a>
            <div class="item item-divider">
                Uric Acid
            </div>
            <a href="#/" class="item item-icon-right">
                Uric
                <span class="item-note" style="color: green;"><strong>103</strong></span>
                <i class="icon ion-minus" style="color: green;"></i>
            </a>
        </div>
    </ion-content>
</ion-view>