<ion-view title="Health Records" hide-back-button="true">
    <ion-content>
        <div class="list">
            <div class="item item-avatar">
                <img src="img/mike.png">
                <p><h2>Clark Stinson</h2> Age 32</p>
                <p>Google Corp.</p>
                <p>Last Checked 10 Jan. 2016</p>
            </div>
            <div class="item item-divider">
                Body Shape
            </div>
            <a href="#/" class="item item-icon-right">
                Weight
                <span class="item-note" style="color: green;">
                    76.7kg
                </span>
                <i class="icon ion-minus" style="color: green;"></i>
            </a>
            <a href="#/" class="item item-icon-right">
                Height
                <span class="item-note" style="color: green;">189cm
                </span>
                <i class="icon ion-minus" style="color: green;"></i>
            </a>
            <a href="#/" class="item item-icon-right">
                BMI
                <span class="item-note" style="color: red;">
                    <strong>25.4</strong>
                </span>
                <i class="icon ion-arrow-up-b" style="color: red;"></i>
            </a>
            <div class="item item-divider">
                Cardio
            </div>
            <a href="#/" class="item item-icon-right">
                Blood Pressure
                <span class="item-note" style="color: dodgerblue;">
                    <strong>90/75</strong>
                    <i class="icon ion-arrow-down-b"></i>
                </span>
            </a>
            <a href="#/" class="item item-icon-right">
                Heart Rate
                <span class="item-note" style="color: red;">
                    <strong>87</strong>
                </span>
                <i class="icon ion-arrow-up-b" style="color: red;"></i>
            </a>
            <div class="item item-divider">
                Blood Tests
            </div>
            <a href="#/" class="item item-icon-right">
                Blood Sugar
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a href="#/" class="item item-icon-right">
                Triglyceride
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a href="#/" class="item item-icon-right">
                HDL
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a href="#/" class="item item-icon-right">
                LDL
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <div class="item item-divider">
                Uric Acid
            </div>
            <a href="#/" class="item item-icon-right">
                Uric
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </div>
    </ion-content>
</ion-view>