<ion-view view-title="Mind Fitness">
    <ion-content>
        <div class="list">
            <div class="item item-icon-left item-icon-right">
                <i class="icon ion-ios-pulse"></i>
                Brain Wave Record
                <i class="icon ion-ios-arrow-right"></i>
            </div>
            <div class="item item-icon-left item-icon-right">
                <i class="icon ion-happy"></i>
                Stress Watch
                <i class="icon ion-ios-arrow-right"></i>
            </div>
            <div class="item item-icon-left item-icon-right">
                <i class="icon ion-ios-stopwatch-outline"></i>
                Meditation Log
                <i class="icon ion-ios-arrow-right"></i>
            </div>
    </ion-content>
</ion-view>