<ion-tabs class="tabs-icon-top tabs-positive">
    <ion-tab title="Body" icon-on="ion-ios-body"
        icon-off="ion-ios-body-outline" ui-sref="tabs.body">
        <ion-nav-view name="body-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Mind" icon-on="ion-ios-heart"
        icon-off="ion-ios-heart-outline" ui-sref="tabs.mind">
        <ion-nav-view name="mind-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Forum" icon-on="ion-ios-chatbubble"
        icon-off="ion-ios-chatbubble-outline" ui-sref="tabs.forum">
        <ion-nav-view name="forum-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Services" icon-on="ion-ios-infinite"
        icon-off="ion-ios-infinite-outline" ui-sref="tabs.services">
        <ion-nav-view name="services-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="More" icon-on="ion-ios-more"
        icon-off="ion-ios-more-outline" ui-sref="tabs.more">
        <ion-nav-view name="more-tab"></ion-nav-view>
    </ion-tab>
</ion-tabs>