<ion-view view-title="Services">
    <ion-content>
        <div class="list">
            <div class="item item-icon-left item-icon-right">
                <i class="icon ion-ios-body"></i>
                Health Checkup
                <i class="icon ion-ios-arrow-right"></i>
            </div>
            <div class="item item-icon-left item-icon-right">
                <i class="icon ion-ios-medical"></i>
                Wellness Center
                <i class="icon ion-ios-arrow-right"></i>
            </div>
        </div>
    </ion-content>
</ion-view>