<ion-view view-title="More">
    <ion-content>
        <div class="list">
            <div class="item item-icon-left item-icon-right">
                <i class="icon ion-ios-email-outline"></i>
                Messages
                <i class="icon ion-ios-arrow-right"></i>
            </div>
            <div class="item item-icon-left item-icon-right">
                <i class="icon ion-ios-person"></i>
                Profile
                <i class="icon ion-ios-arrow-right"></i>
            </div>
        </div>
    </ion-content>
</ion-view>